<div class="popup popup-2" >
  <div class="popup-container popup-about">

    <a href="#0" class="popup-close img-replace">Close</a>
    <h1 class="popup__title">How it’s made?</h1>

    <div class="video__item">
      <iframe class="icecream__vid" src="https://www.youtube.com/embed/kQ9-9u7WWE4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div> 


    <p class="popup__made-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>


  </div> 
</div> 