<div class="wrapper">
  <button
    class="btn__transparent js-open-menu"
    aria-expanded="false"
    aria-controls="mobile-menu"
    type="button"
  >
    Products
  </button>
  <button class="btn__transparent" type="button" disabled>Products</button>
  <p class="description">.btn__transparent</p>
</div>
<!-- <div class="wrapper">
  <button class="btn__colored" type="button">Submit</button>
  <button class="btn__colored" type="button" disabled>Open map</button>
  <p class="description">btn__colored</p>
</div> -->
<div class="wrapper">
  <button class="btn__off" type="button">How it’s made?</button>
  <!-- <button class="btn__off" type="button" disabled>How it’s made?</button> -->
  <p class="description">btn__off</p>
</div>
<div class="wrapper">
  <button class="btn__colored-arrow" type="button">Our Locations</button>
  <!-- <button class="btn__colored-arrow" type="button" disabled> Our Locations </button> -->
  <p class="description">btn__colored-arrow</p>
</div>
<div class="wrapper">
  <button class="btn__transparent-arrow" type="button">Franchise</button>
  <!-- <button class="btn__transparent-arrow" type="button" disabled> Franchise </button> -->
  <p class="description">btn__transparent-arrow</p>
</div>
<!-- <div class="wrapper">
  <button class="btn__buy-arrow"  type="button" >Buy now</button>
  <button class="btn__buy-arrow" type="button" disabled>Read more</button>
  <p class="description">btn__buy-arrow</p>
</div> -->

<div class="wrapper">
  <button
    class="btn__test"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
  >
    Franchise
  </button>
  <button class="btn__test-css" type="button">CSS</button>
  <p class="description">btn__test btn__test-css</p>
</div>

<div class="wrapper">
  <button class="btn__buy-sprite" type="button">
    Buy now
    <svg class="icon-bird-btn" width="12" height="12">
      <use href="./images/symbol-defs.svg#icon-bird-btn"></use>
    </svg>
  </button>
  <button class="btn__read-sprite" type="button">
    From sprite
    <svg class="icon-bird-btn" width="12" height="12">
      <use href="./images/symbol-defs.svg#icon-bird-btn"></use>
    </svg>
  </button>
  <p class="description">From sprite</p>
</div>

<div class="wrapper">
  <button class="btn__buy menu-button" type="button">Buy now</button>
  <p class="description">btn__buy</p>
</div>

<div class="wrapper">
  <button class="btn__read" type="button">Read more</button>
  <p class="description">btn__read</p>
</div>
<div class="wrapper">
  <button id="info_1" class="btn__submit-third info popup-trigger" type="button" data-number="1" title="info">Modal-1</button>
  <button id="info_2" class="btn__submit-third info popup-trigger" type="button" data-number="2" title="info">Modal-2</button>
  <button id="info_3" class="btn__submit-third info popup-trigger" type="button" data-number="3" title="info">Modal-3</button>
  <button id="info_4" class="btn__submit-third info popup-trigger" type="button" data-number="4" title="info">Modal-4</button>
  <button id="info_5" class="btn__submit-third info popup-trigger" type="button" data-number="5" title="info">Modal-5</button>

  <p class="description"></p>
</div>

<div class="wrapper">
  <button class="btn__map-second anim" type="button" data-modal-open>
    Open map
  </button>
  <p class="description test-title">Hommade ice cream made WITH PASSION</p>
</div>

<!-- ================================================================ -->
<div class="slide-flex">
  <div class="ingredients">
    <img
      class="picture__chololate"
      srcset="
        ./images/ingredients/ice-a.png    1x,
        ./images/ingredients/ice-a@2x.png 2x
      "
      src="./images/ingredients/ice-a.png"
      alt="Chololate"
      width="132"
      height="132"
    />
  </div>
  <ul class="ingredients__list">
    <li class="ingredients__item">
      <p class="ingredients__item-name">320</p>
      <p class="ingredients__item-value">kcal</p>
    </li>
    <li class="ingredients__item">
      <p class="ingredients__item-name">4g</p>
      <p class="ingredients__item-value">Protein</p>
    </li>
    <li class="ingredients__item">
      <p class="ingredients__item-name">8,2g</p>
      <p class="ingredients__item-value">Fats</p>
    </li>
    <li class="ingredients__item">
      <p class="ingredients__item-name">40,4g</p>
      <p class="ingredients__item-value">Carbs</p>
    </li>
  </ul>
</div>

<!-- ================================================================= -->
<!-- <h2 class="text">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt rerum
  temporibus unde dicta at sapiente culpa quia velit amet quisquam.
</h2>
<button class="btn__buy-arrow">buy now</button> -->
<!-- =================================================================== -->
