<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <ul class="contacts__cards">
      <li class="contacts__card">
        <h3 class="contacts__card-title">CAFE</h3>
        <p class="contacts__card-city">Chicago</p>
        <a class="contacts__card-link" href="#!">
          <address class="contacts__card-address">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </address>
        </a>

        <ul class="contacts__schedule-list">
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Monday - Friday</p>
            <time class="contacts__schedule-time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Saturday - Sunday</p>
            <time class="contacts__schedule-time">08:00 AM - 16:00 PM</time>
          </li>
        </ul>

        <a class="contacts__link-tel" href="tel:+610383766284"
          >+61(0) 383 766 284
        </a>
        <a class="contacts__link-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com
        </a>
      </li>
      <!-- ++++++++++++++++++++++++++++++++++++++++ -->
      <li class="contacts__card">
        <h3 class="contacts__card-title">FOODTRUCK</h3>
        <p class="contacts__card-city">Los Angeles</p>
        <a class="contacts__card-link" href="#!">
          <address class="contacts__card-address">
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </address>
        </a>

        <ul class="contacts__schedule-list">
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Monday - Friday</p>
            <time class="contacts__schedule-time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Saturday - Sunday</p>
            <time class="contacts__schedule-time">08:00 AM - 16:00 PM</time>
          </li>
        </ul>

        <a class="contacts__link-tel" href="tel:+610383766284"
          >+61(0) 383 766 284
        </a>
        <a class="contacts__link-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com
        </a>
      </li>
      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
      <li class="contacts__card">
        <h3 class="contacts__card-title">CAFE</h3>
        <p class="contacts__card-city">New York</p>
        <a class="contacts__card-link" href="#!">
          <address class="contacts__card-address">
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </address>
        </a>

        <ul class="contacts__schedule-list">
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Monday - Friday</p>
            <time class="contacts__schedule-time">06:00 AM - 10:00 PM</time>
          </li>
          <li class="contacts__schedule-item">
            <p class="contacts__schedule-day">Saturday - Sunday</p>
            <time class="contacts__schedule-time">08:00 AM - 16:00 PM</time>
          </li>
        </ul>

        <a class="contacts__link-tel" href="tel:+610383766284"
          >+61(0) 383 766 284
        </a>
        <a class="contacts__link-mail" href="mailto:noreply@envato.com"
          >noreply@envato.com
        </a>
      </li>
    </ul>
    <!-- ================================================================================ -->

    <div class="contacts__buttons">
      <button class="contacts__locations btn__colored-arrow" type="button">
        Our Locations
      </button>

      <button class="contacts__franchise btn__transparent-arrow" type="button">
        Franchise
      </button>
    </div>
  </div>
</section>
