<section class="gallery">
    <div class="gallery__container container">
        <div class="gallery__slider">
            <div class="gallery__slider-line">

                <img src="./images/gal/slide__1.jpg" alt="gllery__pic">
                <img src="./images/gal/slide__2.jpg" alt="gllery__pic">
                <img src="./images/gal/slide__3.jpg" alt="gllery__pic">

            </div>
        </div>

        <div class="slider-btn-wrap">
            <button class="slider-prev">⮜</button>
            <button class="slider-next">⮞</button>
        </div>

    </div>
</section>