<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="inner-wrapper">
      <!-- Слайдер -->
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <!-- ================================================================= -->
          <div class="swiper-slide">
            <h3 class="modal__title">Chololate icecream</h3>

            <div class="ice__wrap">
              <img
                class="ice__pic"
                srcset="
                  ./images/ingredients/ice-a.png    1x,
                  ./images/ingredients/ice-a@2x.png 2x
                "
                src="./images/ingredients/ice-a.png"
                alt="Chololate"
                width="132"
                height="132"
              />
            </div>

            <ul class="ingredients__list">
              <li class="ingredients__item">
                <p class="ingredients__item-name">320</p>
                <p class="ingredients__item-value">kcal</p>
              </li>
              <li class="ingredients__item">
                <p class="ingredients__item-name">4g</p>
                <p class="ingredients__item-value">Protein</p>
              </li>
              <li class="ingredients__item">
                <p class="ingredients__item-name">8,2g</p>
                <p class="ingredients__item-value">Fats</p>
              </li>
              <li class="ingredients__item">
                <p class="ingredients__item-name">40,4g</p>
                <p class="ingredients__item-value">Carbs</p>
              </li>
            </ul>

            <h4 class="card__title">Ingredients</h4>

            <ul class="card__parts">
              <li class="card__parts-item">
                <p class="card__parts-name">Milk</p>
                <p class="card__parts-value">100ml</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Belgian chocolate</p>
                <p class="card__parts-value">20g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Cream</p>
                <p class="card__parts-value">150 ml</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Cocoa powder</p>
                <p class="card__parts-value">30g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Sugar</p>
                <p class="card__parts-value">40g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Vanilla sugar</p>
                <p class="card__parts-value">10g</p>
              </li>
            </ul>
          </div>
          <!-- ======================================================= -->
          <div class="swiper-slide">
            <h3 class="modal__title">Ice coffee</h3>

            <div class="ice__wrap">
              <img
                class="ice__pic"
                srcset="
                  ./images/ingredients/ice-b.png    1x,
                  ./images/ingredients/ice-b@2x.png 2x
                "
                src="./images/ingredients/ice-b.png"
                alt="Chololate"
                width="132"
                height="132"
              />
            </div>

            <ul class="ingredients__list">
              <li class="ingredients__item ingredients__item-orange">
                <p class="ingredients__item-name orange-color">320</p>
                <p class="ingredients__item-value">kcal</p>
              </li>
              <li class="ingredients__item ingredients__item-orange">
                <p class="ingredients__item-name orange-color">4g</p>
                <p class="ingredients__item-value">Protein</p>
              </li>
              <li class="ingredients__item ingredients__item-orange">
                <p class="ingredients__item-name orange-color">8,2g</p>
                <p class="ingredients__item-value">Fats</p>
              </li>
              <li class="ingredients__item ingredients__item-orange">
                <p class="ingredients__item-name orange-color">40,4g</p>
                <p class="ingredients__item-value">Carbs</p>
              </li>
            </ul>

            <h4 class="card__title">Ingredients</h4>

            <ul class="card__parts">
              <li class="card__parts-item">
                <p class="card__parts-name">Milk</p>
                <p class="card__parts-value">100ml</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Belgian chocolate</p>
                <p class="card__parts-value">20g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Cream</p>
                <p class="card__parts-value">150 ml</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Cocoa powder</p>
                <p class="card__parts-value">30g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Sugar</p>
                <p class="card__parts-value">40g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Vanilla sugar</p>
                <p class="card__parts-value">10g</p>
              </li>
            </ul>
          </div>
          <!-- ================================================================= -->
          <div class="swiper-slide">
            <h3 class="modal__title">Milkshakes</h3>

            <div class="ice__wrap">
              <img
                class="ice__pic"
                srcset="
                  ./images/ingredients/ice-c.png    1x,
                  ./images/ingredients/ice-c@2x.png 2x
                "
                src="./images/ingredients/ice-c.png"
                alt="Chololate"
                width="132"
                height="132"
              />
            </div>

            <ul class="ingredients__list">
              <li class="ingredients__item ingredients__item-pink">
                <p class="ingredients__item-name pink-color">320</p>
                <p class="ingredients__item-value">kcal</p>
              </li>
              <li class="ingredients__item ingredients__item-pink">
                <p class="ingredients__item-name pink-color">4g</p>
                <p class="ingredients__item-value">Protein</p>
              </li>
              <li class="ingredients__item ingredients__item-pink">
                <p class="ingredients__item-name pink-color">8,2g</p>
                <p class="ingredients__item-value">Fats</p>
              </li>
              <li class="ingredients__item ingredients__item-pink">
                <p class="ingredients__item-name pink-color">40,4g</p>
                <p class="ingredients__item-value">Carbs</p>
              </li>
            </ul>

            <h4 class="card__title">Ingredients</h4>

            <ul class="card__parts">
              <li class="card__parts-item">
                <p class="card__parts-name">Milk</p>
                <p class="card__parts-value">100ml</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Belgian chocolate</p>
                <p class="card__parts-value">20g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Cream</p>
                <p class="card__parts-value">150 ml</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Cocoa powder</p>
                <p class="card__parts-value">30g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Sugar</p>
                <p class="card__parts-value">40g</p>
              </li>
              <li class="card__parts-item">
                <p class="card__parts-name">Vanilla sugar</p>
                <p class="card__parts-value">10g</p>
              </li>
            </ul>
          </div>
          <!-- ================================================================= -->
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>

      <!-- Слайдер -->
    </div>
    <!-- ======================================================================== -->
    <button class="modal__closing-button" data-modal-close>
      <svg class="cross" width="11" height="11">
        <use xlink:href="./images/symbol-defs.svg#icon-card-_close20x20"></use>
      </svg>
    </button>
  </div>
</div>
