<section class="products">
    <div class="products__container container">
        <ul class="products__list">
            <li class="products__card">
                <div class="circle"></div>
                <h3 class="products__card-title"></h3>
                <div class="products__wrapper">
                    <p class="products__paragraph"></p>
                    <button class="products__btn"></button>
                </div>
            </li>
            <li class="products__card">
                <div class="circle"></div>
                <h3 class="products__card-title"></h3>
                <div class="products__wrapper">
                    <p class="products__paragraph"></p>
                    <button class="products__btn"></button>
                </div>
            </li>
            <li class="products__card">
                <div class="circle"></div>
                <h3 class="products__card-title"></h3>
                <div class="products__wrapper">
                    <p class="products__paragraph"></p>
                    <button class="products__btn"></button>
                </div>
            </li>
        </ul>
       


    </div>

</section>